<div class="container">
  <form name="user" action="/login" method="post">
    <input name="email" type="email" placeholder="enter email">
    <input name="password" type="password" placeholder="password">
    <input type="submit" value="signup">
</div>

