<div class="container">
  <form action="/submit" method="post">
    <h4> Name your talk. </h4>
    <input cols="40" type="text" name="title" placeholder="e.g. Version Control in the GitHub Era">
    <br>

    <h4>Give us a little abstract.</h4>
     <textarea cols="40" rows="5" name="description" placeholder="e.g. GitHub is a powerful tool for ensuring strong version control.">GitHub is a powerful tool for ensuring strong version control.
     </textarea>
    <br>

    <h4>When will you be giving your talk?</h4>

    <input type="date" name="dateof" min="<%=Time.now.to_s[0..9] %>">
    <input type="time" name="timeof" min="09:00" max="17:00">
    <h4>How many guests will make it worth your time?</h4>
    <input type="number" placeholder="ex. 5" min="1" max="65">
    <h4> Tag your talks up! </h4>
    <input type="text" name="tags" placeholder="e.g. #GitHub #VersionControl">
    <br><br>
    <input class="button" type="submit" value="Submit Your Talk!">
  </form>
</div>
