<div class="container">
  <form name="user" action="/signup" method="post">
    <input name="user[email]" type="email" placeholder="enter email">
    <input name="user[password]" type="password" placeholder="password">
    <input name="user[password_confirmation]" type="password" placeholder="re-enter password">
    <input type="submit" value="signup">
</div>
