<p> DBCLightning is a web application whose purpose is to allow DBC students to schedule "lightning" talks at their leisure, as well as a tool to discover upcoming lightning talks.</p>

<p> This application was created by Kai Prout, Brendan Susens-Jackson, Natalie Baer, Armen Vartan and Ben Brostoff during Phase 2 of Dev Bootcamp in June / early July 2014. </p>